.about-container{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

#abtme{
    color:#00539C;
    font-size: 60px;
}

.about-text{
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#wk-info{
    color:#2272FF;
}
