.Home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.home-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    color: rgb(190, 180, 180);

}
   

.home-me{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.home-me-text{
    color: rgb(190, 180, 180);
}


.matrix-text{
    color: #5ac931;
}