.Navbar{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 220px;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-left{
    display: flex;
    align-items: center;
    width: 30%;
}

.avatar{
    margin-right: 13px;
}

.links{
    font-size: 17px;
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 30px;
}



.links li{
    color: #5ac931;
    padding: 25px;
}

.links li:hover{
    cursor: pointer;
}