.nav-container{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    overflow: auto;
    height: auto;
    justify-content: space-between; 
    flex-direction: row;
    background-color: #DDD0C8;
}

.image{
    margin-left: 20px;
}

.links{
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
}

.links li{
    color: #00539C;
    padding: 25px;
    cursor: pointer;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #00539C;
    padding: 25px;
}
